h1 {
	background-color: #ffffff;
	text-shadow: navy 0px 0 10px;
	color:#ffffff
}

#本テーマの学習目標{
    color:#1183b0
}

#本テーマの学習目標 {
    border-bottom: thick double #1183b0
}
#プロジェクト課題について {
    color:#1183b0
}

a:hover{
    color:rgb(51, 127, 174)
}