p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	background-color: #7f7fcf;
	text-shadow: 1px 1px 2px pink;
}

h2 {
	border: solid 1px black;
	padding: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: row;
	grid-auto-flow: 200px 200px;
	grid-gap: 10px;
	margin: 5px;
	width: 1024px;
}

div#zentai > div {
	background-color: #ffefaf;
	margin-left: 5px;
}

img.sign {
    float: right;   /* 画像を右に浮かせる */

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}
